<%- include('../partials/header.ejs') %>
<div class="loginpage">
    <h1>Edit the Workplace: <%= workplace.name %> </h1>
    <form method="POST" action="/schedules/<%= workplace.id %>?_method=PUT">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="<%=workplace.name%>" />
        </div>
        <div>
            <a href="/schedules/<%= workplace.id %>" class="backbutton">
                Back
            </a>
            <input type="submit" value="Confirm" class="backbutton">
        </div>
    </form>
    <form method="POST" action="/schedules/<%= workplace._id %>?_method=DELETE">
        <input type="submit" value="Delete Workplace" class="backbutton" style="background-color: red;margin-top: 10px;">
    </form>    
</div>
</body>
</html>