<%- include('../partials/header.ejs') %>

    <div class="calendarpage" style="margin:50px 0 0 0">
        <aside>
            <h1 style="font-size: 36px;position:relative; top: -15px"> <%= myWorkplace.name %> </h1>
            <hr style="position:relative;top:-38px;">
            <div>
                <h3 style="position:relative;top:-30px;">Employees:</h3>
                <% for(let i = 0; i < myEmployees.length; i++) { %>
                    <% if(myEmployees[i].workplace === myWorkplace.id){ %>
                        <a href="/schedules/<%=myWorkplace.id%>/<%=myEmployees[i].id%>" style="position:relative;top:-15px;font-weight: 400;" ><h4 style="position:relative;top:-15px;font-weight: 400;"> <%= myEmployees[i].name %> </h4></a>
                    <% } %>
                <% } %>
                <a href="/schedules/<%=myWorkplace.id%>/newemployee" style="position:relative;top:-15px;">
                    <button style="position:relative;top:-15px;">
                        New Employee
                    </button>
                </a>    
            </div>
        </aside>
    
        <div>
            <div style="height:750px; width:750px; position: relative; top: 14px;">
                <div id="calendar"></div>
            </div>
            <div class="workplaceoptions">
                <a href="/schedules/<%=myWorkplace.id%>/newshift">
                    <button>
                        Create Shift
                    </button>
                </a>
                
                <a href="/schedules/<%=myWorkplace.id%>/edit">
                    <button style="position: relative; left: -20px">
                        Edit Workplace
                    </button>
                </a>
                <a href="/schedules">
                    <button>
                        Back
                    </button>
                </a>

            </div>
    
        </div>
    </div>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
          var calendarEl = document.getElementById('calendar');
          var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            }
          });
          calendar.render();
          let shiftToAdd = {};
          <% for(let i = 0; i < myShifts.length; i++) {%>
            <% if(myShifts[i].workplace === myWorkplace.id){ %>
            if('<%=myShifts[i].startTime%>' == ''){
                shiftToAdd = {
                    title: '<%= myShifts[i].title %>',
                    date: '<%= myShifts[i].start %>',
                    display: 'block',
                    url: '/schedules/<%=myWorkplace.id%>/<%=myShifts[i].id%>/shift'
                }
            }
            else{
                shiftToAdd = {
                    title: '<%= myShifts[i].title %>',
                    start: '<%= myShifts[i].start %>T<%= myShifts[i].startTime %>',
                    end: '<%= myShifts[i].start %>T<%= myShifts[i].endTime %>',
                    display: 'block',
                    url: '/schedules/<%=myWorkplace.id%>/<%=myShifts[i].id%>/shift'
                }
            }
            calendar.addEvent(shiftToAdd);
            <% } %>
          <% } %>
        });
  
    </script>

</body>
</html>