<%- include('../partials/header.ejs') %>

<div class="loginpage">
    <h1>Add a new Shifts:</h1>
    <form action="/schedules/<%= workplaceID %>/shift" method="POST">
        <div>
            <label for="title">Employee:</label>
            <select id="title" name="title">
                <% for(let i = 0; i < myEmployees.length; i++) { %>
                    <% if(myEmployees[i].workplace === workplaceID){ %>
                    <option value="<%=myEmployees[i].name%>"><%=myEmployees[i].name%></option>
                    <% } %>
                <% } %>
            </select>
        </div>
        <div>
            <label for="start">Date:</label>
            <input type="date" name="start" id="start">
        </div>
        <div>
            <label for="startTime">Start Time:</label>
            <input type="time" name="startTime" id="startTime">
        </div>
        <div>
            <label for="endTime">End Time:</label>
            <input type="time" name="endTime" id="endTime">
        </div>
        <div>
            <input type="hidden" name="workplace" id="workplace" value="<%= workplaceID %>">
            <a href="/schedules/<%= workplaceID %>" class="backbutton">
                Back
            </a>
            <input type="submit" value="Submit" class="backbutton">
        </div>
    </form>
</div>


</body>
</html>